@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  font-style: normal;
  src: url('Assets/Fonts/Poppins/Poppins-Medium.ttf') format("truetype")
}

@font-face {
  font-family: 'Poppins';
  font-weight: 1;
  font-style: normal;
  src: url('Assets/Fonts/Poppins/Poppins-Light.ttf') format("truetype")
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #FDFDFD;
  padding: 34px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
